@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="label-default"><b>Vis JS MVC Application</b></h1>
            <p class="label-warning">This is a simple implementation of VisJS library with ASP.Net MVC Framework</p>
        </div>
    </div> 
    <div class="row" >
        <div class="jumbotron">
            <div class="col-md-12">
                <div id="visualization"></div>
            </div>
        </div>   
    </div>
</div>


